---
import NavLayout from '../layouts/nav-layout.astro';
---


<NavLayout>
    <div class="w-full h-full flex flex-col bg-[#f7ece1] justify-center items-center">
        <div id="about-picture" class="w-full box-border h-80 pb-8 flex justify-center">
            <img src="" alt="Handsome picture of myself">
        </div>
        <div id="about-text" class="w-full box-border h-ful flex justify-center">
            <p>How do I explain everything about myself?!</p>
        </div>
    </div>
</NavLayout>