---
import NavLayout from '../layouts/nav-layout.astro';
---


<NavLayout>
    <div class="w-full h-full flex flex-col bg-[#f7ece1] justify-center items-center">
        <div id="about-picture" class="w-full box-border h-80 pb-8 sm:pr-36 flex justify-center">
            <img src="" alt="Handsome picture of myself">
        </div>
        <div id="about-text" class="w-3/4 box-border flex justify-center">
            <p>I’ve always craved attention, and when I was younger i’d do anything to get it. Hearing jokes from a funny video and retelling it to the other school kids (*I’d always butcher it*), getting good at video games, but the thing that really stuck in middle school was making websites. Or let me clarify, memorizing the boilerplate html template and just adding in an H1 tag, **I’m a hacker**. The other kids loved it. And I was hooked.
                <br /> <br />

                I remember forcing my dad to take me to the library where I checked out the first programming book I saw, [Programming in Lua](https://www.lua.org/pil/contents.html). And not to be anti climatic but I didn’t really do much with it. I made a few hello worlds, added some numbers, you know the whole works when a 12 year old tries to get into something. But that never killed my love for computers. 
                <br /> <br />
                
                Now a days I really do enjoy the whole process at any level, from making a crappy python web scrapper to show how much tacobell I had during lent, to making a journal site that takes a persons mood for each entry and their Spotify and plays music according to their mood
                <br /> <br />
                
                Currently working on of course another Spotify related app
            </p>
        </div>
    </div>
</NavLayout>